<!DOCTYPE html>
<html ng-app="MovieKong">
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
    <script src="common.js"></script>
    <script src="createapi.js"></script>

    <script src="angular.js"></script>
    <script src="angular-animate.js"></script>
	<script src="douban-module.js"></script>
	<script src="jsfile.js"></script>
	<title></title>
<head>
<body>
<div ng-controller="AppController">
    <div id="top-menu-background"></div>
    <div id="top-menu">
        <div class="{{className}}">
		    <input type="text" placeholder="Search a Moive" ng-model="query"/>
		    <button ng-click="getResult(query)">Search</button>
            <img class="{{imageClass}}" src="images/searching.png" />
	    </div>
    </div>
    <div id="app-body">
        <mk-tab></mk-tab>
    </div>
</div>
</body>
</html>
