body{
	width: 300px;
	font: 10px 'Microsoft YaHei',arial,tahoma,\5b8b\4f53,sans-serif;
}

table{
	display: block;
	border-bottom: 0px;
}

table tr td.image{
	float: right;
}

table tr td.description{
	height: 70px;
	vertical-align: top;
}

#top-menu{
	width: 300px;
}

#search-box{
	width: 270px;
	border: 1px solid blue;
}

#search-box input{
	width: 194px;
	border: 0px;
	font-size: 15px;
	padding-left: 5px;
}

#search-box button{
	width: 67px;
	border: 0px;
	height: 30px;
	border-radius: 0px;
}

#top-menu .buttons{
	float: right;
	margin-top: 5px;
}

#top-menu .buttons img{
	margin-left: 5px;
	margin-right: 5px;
}

a{
	text-decoration: none;
}

input:focus{
	outline: 0;
}

.result-entry.ng-enter {
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    transition: 0.5s linear all;
    opacity: 0;
}

.result-entry.ng-enter-stagger {
    transition-delay: 0.1s;
    transition-duration: 0s;
}

.result-entry.ng-enter.ng-enter-active {
    opacity: 1;
}

