body{
	width: 300px;
}

table{
	display: block;
	border-bottom: 0px;
}

table tr td.image{
	float: right;
}

table tr td.description{
	height: 70px;
	vertical-align: top;
}

#top-menu{
	width: 300px;
    height: 100px;
}

.search-box-init {
	width: 300px;
	border: 1px solid blue;
}

.search-box-init input{
	width: 222px;
	border: 0px;
	font-size: 15px;
	padding-left: 5px;

    -webkit-transition: width 0.5s linear;
}

.search-box-init button{
	width: 70px;
	border: 0px;
	height: 30px;
	border-radius: 0px;
}

.search-box-searching input {
    -webkit-transition: width 0.5s linear;
    width: 190px;
}

.image-before-search {
    /*-webkit-transition: display 0.5s linear 1s;*/
    -webkit-transition-property: visibility;
    -webkit-transition-delay: 0.5s;
    visibility: hidden;
    position: absolute;
}

.image-searching {
    width: 30px;
    height: 30px;
    float: right;
    vertical-align: top;
    /*-webkit-transition: display 0.5s linear 1s;*/
    -webkit-transition-property: visibility;
    -webkit-transition-delay: 0.5s;
    visibility: visible;
}

#top-menu .buttons{
	float: right;
	margin-top: 5px;
}

#top-menu .buttons img{
	margin-left: 5px;
	margin-right: 5px;
}

a{
	text-decoration: none;
}

input:focus{
	outline: 0;
}

.result-entry.ng-enter {
    -webkit-transition: opacity 1s linear;
    opacity: 0;
}

.result-entry.ng-enter-stagger {
    -webkit-transition-delay: 0.2s;
}

.result-entry.ng-enter.ng-enter-active {
    opacity: 1;
}
